<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wwhy.dao.ScoreDao">
	<resultMap id="BaseResultMap" type="com.wwhy.entity.ScoreEntity">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="student_id" property="studentId" jdbcType="BIGINT" />
		<result column="project" property="project" jdbcType="TINYINT" />
		<result column="score" property="score" jdbcType="DECIMAL" />
		<result column="ranking" property="ranking" jdbcType="SMALLINT" />
		<result column="teacher_id" property="teacherId" jdbcType="BIGINT" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="update_time11" property="updateTime11" jdbcType="TIMESTAMP" />
		<result column="iscomplete11" property="iscomplete11" jdbcType="INTEGER"/>
		<result column="score111" property="score111" jdbcType="VARCHAR"/>
		<result column="update_time12" property="updateTime12" jdbcType="TIMESTAMP" />
		<result column="iscomplete12" property="iscomplete12" jdbcType="INTEGER"/>
		<result column="score121" property="score121" jdbcType="VARCHAR"/>
		<result column="score122" property="score122" jdbcType="VARCHAR"/>
		<result column="update_time13" property="updateTime13" jdbcType="TIMESTAMP" />
		<result column="iscomplete13" property="iscomplete13" jdbcType="INTEGER"/>
		<result column="score131" property="score131" jdbcType="VARCHAR"/>
		<result column="score132" property="score132" jdbcType="VARCHAR"/>
		<result column="update_time21" property="updateTime21" jdbcType="TIMESTAMP" />
		<result column="iscomplete21" property="iscomplete21" jdbcType="INTEGER"/>
		<result column="score211" property="score211" jdbcType="VARCHAR"/>
		<result column="score212" property="score212" jdbcType="VARCHAR"/>
		<result column="score213" property="score213" jdbcType="VARCHAR"/>
	</resultMap>
	<sql id="Base_Column_List" >
		id,student_id,project,unit,score,ranking,teacher_id,update_time,remark,update_time11,iscomplete11,score111,update_time12,iscomplete12,score121,score122,update_time13,iscomplete13,score131,score132,update_time21,iscomplete21,score211,score212,score213
	</sql>
	<!-- 根据ID查询数据 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
		select
		<include refid="Base_Column_List" />
		from score
		where id = #{id,jdbcType=BIGINT}
	</select>
	<!-- 根据student ID查询数据eden -->
	<select id="selectByStudentId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
		select
		<include refid="Base_Column_List" />
		from score
		where student_id = #{studentId,jdbcType=BIGINT}
	</select>
	<!-- 根据student ID计数eden -->
	<select id="countByStudentId" resultType="java.lang.Integer" parameterType="java.lang.Long" >
		select count(student_id)
		from score
		where student_id = #{studentId,jdbcType=BIGINT}
	</select>
	<!-- 根据条件查询数据 -->
	<select id="selectAll" resultType="scoreEntity" parameterType="scoreEntity">
		select
		<include refid="Base_Column_List" />
		from score
		<where>
			<if test="id != null">
				and id = #{id,jdbcType=BIGINT}
			</if>
			<if test="studentId != null">
				and student_id = #{studentId,jdbcType=BIGINT}
			</if>
			<if test="project != null">
				and project = #{project,jdbcType=TINYINT}
			</if>
			<if test="score != null">
				and score = #{score,jdbcType=DECIMAL}
			</if>
			<if test="ranking != null">
				and ranking = #{ranking,jdbcType=SMALLINT}
			</if>
			<if test="teacherId != null">
				and teacher_id = #{teacherId,jdbcType=BIGINT}
			</if>
			<if test="updateTime != null">
				and update_time = #{updateTime,jdbcType=TIMESTAMP}
			</if>
			<if test="remark != null and remark.length() > 0">
				and remark = #{remark,jdbcType=VARCHAR}
			</if>
			<if test="unit != null and unit.length() > 0">
				and unit = #{unit,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<!-- 根据ID删除数据 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
		delete from score where id = #{id,jdbcType=BIGINT}
	</delete>
	<!-- 根据studentID删除数据eden -->
	<delete id="deleteScoreByStudentId" parameterType="java.lang.Long" >
		delete from score where student_id = #{studentId,jdbcType=BIGINT}
	</delete>
	<!-- 添加记录 -->
	<insert id="insert" parameterType="com.wwhy.entity.ScoreEntity">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into score (
			student_id,
			project,
			score,
			ranking,
			teacher_id,
			update_time,
			remark,
			unit
		) values(
			#{studentId,jdbcType=BIGINT},
			#{project,jdbcType=TINYINT},
			#{score,jdbcType=DECIMAL},
			#{ranking,jdbcType=SMALLINT},
			#{teacherId,jdbcType=BIGINT},
			#{updateTime,jdbcType=TIMESTAMP},
			#{remark,jdbcType=VARCHAR},
			#{unit,jdbcType=VARCHAR}
		)
	</insert>
	<!-- 添加不为空的记录 -->
	<insert id="insertSelective" parameterType="com.wwhy.entity.ScoreEntity">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into score
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="studentId != null">
				student_id,
			</if>
			<if test="project != null">
				project,
			</if>
			<if test="score != null">
				score,
			</if>
			<if test="ranking != null">
				ranking,
			</if>
			<if test="teacherId != null">
				teacher_id,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="unit != null">
				unit,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="studentId != null">
				#{studentId,jdbcType=BIGINT},
			</if>
			<if test="project != null">
				#{project,jdbcType=TINYINT},
			</if>
			<if test="score != null">
				#{score,jdbcType=DECIMAL},
			</if>
			<if test="ranking != null">
				#{ranking,jdbcType=SMALLINT},
			</if>
			<if test="teacherId != null">
				#{teacherId,jdbcType=BIGINT},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="unit != null">
				#{unit,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<!-- 根据ID修改不为空的数据 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.wwhy.entity.ScoreEntity" >
		update score
		<set>
			<if test="studentId != null">
				student_id = #{studentId,jdbcType=BIGINT},
			</if>
			<if test="project != null">
				project = #{project,jdbcType=TINYINT},
			</if>
			<if test="score != null">
				score = #{score,jdbcType=DECIMAL},
			</if>
			<if test="ranking != null">
				ranking = #{ranking,jdbcType=SMALLINT},
			</if>
			<if test="teacherId != null">
				teacher_id = #{teacherId,jdbcType=BIGINT},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="unit != null">
				unit = #{unit,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<!-- 根据ID修改数据 -->
	<update id="updateByPrimaryKey" parameterType="com.wwhy.entity.ScoreEntity" >
		update score set
			student_id = #{studentId,jdbcType=BIGINT},
			project = #{project,jdbcType=TINYINT},
			score = #{score,jdbcType=DECIMAL},
			ranking = #{ranking,jdbcType=SMALLINT},
			teacher_id = #{teacherId,jdbcType=BIGINT},
			update_time = #{updateTime,jdbcType=TIMESTAMP},
			remark = #{remark,jdbcType=VARCHAR},
			unit = #{unit,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<!-- 添加记录1_1_1 -->
	<insert id="insertSelective1_1_1" parameterType="com.wwhy.entity.ScoreEntity">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into score (
		student_id,
		score111,
		update_time11,
		iscomplete11,
		answer111,
		update_time
		) values(
		#{studentId,jdbcType=BIGINT},
		#{score111,jdbcType=VARCHAR},
		#{updateTime11,jdbcType=TIMESTAMP},
		#{iscomplete11,jdbcType=INTEGER},
		#{answer111,jdbcType=VARCHAR},
		#{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>

	<!-- 根据ID修改数据1_1_1 -->
	<update id="updateSelective1_1_1" parameterType="ScoreEntity" >
		update score set
		score111 = #{score111,jdbcType=VARCHAR},
		update_time11=#{updateTime11,jdbcType=TIMESTAMP},
		iscomplete11=#{iscomplete11,jdbcType=INTEGER},
		answer111=#{answer111,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		where student_id = #{studentId,jdbcType=BIGINT}
	</update>

	<!-- 添加记录1_2_1 -->
	<insert id="insertSelective1_2_1" parameterType="com.wwhy.entity.ScoreEntity">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into score (
		student_id,
		update_time12,
		score121,
		answer121,
		update_time
		) values(
		#{studentId,jdbcType=BIGINT},
		#{updateTime12,jdbcType=TIMESTAMP},
		#{score121,jdbcType=VARCHAR},
		#{answer121,jdbcType=VARCHAR},
		#{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>

	<!-- 根据ID修改数据
	<update id="updateSelective1_2_1" parameterType="com.wwhy.entity.ScoreEntity" >
		update score set
			score121 = #{score121,jdbcType=VARCHAR},
			answer12110=#{answer12110,jdbcType=DECIMAL},
			answer12111=#{answer12111,jdbcType=DECIMAL},
			answer12112=#{answer12112,jdbcType=DECIMAL},
			update_time = #{updateTime,jdbcType=TIMESTAMP}
		where student_id = #{studentId,jdbcType=BIGINT}
	</update>
	-->

	<!-- 根据ID修改数据1_2_1 -->
	<update id="updateSelective1_2_1" parameterType="ScoreEntity" >
		update score set
			score121 = #{score121,jdbcType=VARCHAR},
			update_time12 = #{updateTime12,jdbcType=TIMESTAMP},
			answer121 = #{answer121,jdbcType=VARCHAR},
			update_time = #{updateTime,jdbcType=TIMESTAMP}
		where student_id = #{studentId,jdbcType=BIGINT}
	</update>

	<!-- 添加记录1_2_2 -->
	<insert id="insertSelective1_2_2" parameterType="com.wwhy.entity.ScoreEntity">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into score (
		student_id,
		score122,
		update_time12,
		iscomplete12,
		answer122,
		update_time
		) values(
		#{studentId,jdbcType=BIGINT},
		#{score122,jdbcType=VARCHAR},
		#{updateTime12,jdbcType=TIMESTAMP},
		#{iscomplete12,jdbcType=INTEGER},
		#{answer122,jdbcType=VARCHAR},
		#{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>

	<!-- 根据ID修改数据1_2_2 -->
	<update id="updateSelective1_2_2" parameterType="ScoreEntity" >
		update score set
		score122 = #{score122,jdbcType=VARCHAR},
		update_time12 = #{updateTime12,jdbcType=TIMESTAMP},
		iscomplete12 = #{iscomplete12,jdbcType=INTEGER},
		answer122 = #{answer122,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		where student_id = #{studentId,jdbcType=BIGINT}
	</update>

	<!-- 添加记录1_3_1 -->
	<insert id="insertSelective1_3_1" parameterType="com.wwhy.entity.ScoreEntity">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into score (
		student_id,
		score131,
		update_time13,
		answer131,
		update_time
		) values(
		#{studentId,jdbcType=BIGINT},
		#{score131,jdbcType=VARCHAR},
		#{updateTime13,jdbcType=TIMESTAMP},
		#{answer131,jdbcType=VARCHAR},
		#{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>

	<!-- 根据ID修改数据1_3_1 -->
	<update id="updateSelective1_3_1" parameterType="ScoreEntity" >
		update score set
			score131 = #{score131,jdbcType=VARCHAR},
			update_time13 = #{updateTime13,jdbcType=TIMESTAMP},
			answer131 = #{answer131,jdbcType=VARCHAR},
			update_time = #{updateTime,jdbcType=TIMESTAMP}
		where student_id = #{studentId,jdbcType=BIGINT}
	</update>

	<!-- 添加记录1_3_2 -->
	<insert id="insertSelective1_3_2" parameterType="com.wwhy.entity.ScoreEntity">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into score (
		student_id,
		score132,
		update_time13,
		iscomplete13,
		answer132,
		update_time
		) values(
		#{studentId,jdbcType=BIGINT},
		#{score132,jdbcType=VARCHAR},
		#{updateTime13,jdbcType=TIMESTAMP},
		#{iscomplete13,jdbcType=INTEGER},
		#{answer132,jdbcType=VARCHAR},
		#{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>

	<!-- 根据ID修改数据1_3_2 -->
	<update id="updateSelective1_3_2" parameterType="ScoreEntity" >
		update score set
		score132 = #{score132,jdbcType=VARCHAR},
		update_time13 = #{updateTime13,jdbcType=TIMESTAMP},
		iscomplete13 = #{iscomplete13,jdbcType=INTEGER},
		answer132 = #{answer132,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		where student_id = #{studentId,jdbcType=BIGINT}
	</update>

	<!-- 添加记录2_1_1 -->
	<insert id="insertSelective2_1_1" parameterType="com.wwhy.entity.ScoreEntity">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into score (
		student_id,
		score211,
		update_time21,
		answer211,
		update_time
		) values(
		#{studentId,jdbcType=BIGINT},
		#{score211,jdbcType=VARCHAR},
		#{updateTime21,jdbcType=TIMESTAMP},
		#{answer211,jdbcType=VARCHAR},
		#{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>

	<!-- 根据ID修改数据2_1_1 -->
	<update id="updateSelective2_1_1" parameterType="ScoreEntity" >
		update score set
			score211 = #{score211,jdbcType=VARCHAR},
			update_time21 = #{updateTime21,jdbcType=TIMESTAMP},
			answer211 = #{answer211,jdbcType=VARCHAR},
			update_time = #{updateTime,jdbcType=TIMESTAMP}
		where student_id = #{studentId,jdbcType=BIGINT}
	</update>

	<!-- 添加记录2_1_2 -->
	<insert id="insertSelective2_1_2" parameterType="com.wwhy.entity.ScoreEntity">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into score (
		student_id,
		score212,
		update_time21,
		answer212,
		update_time
		) values(
		#{studentId,jdbcType=BIGINT},
		#{score212,jdbcType=VARCHAR},
		#{updateTime21,jdbcType=TIMESTAMP},
		#{answer212,jdbcType=VARCHAR},
		#{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>

	<!-- 根据ID修改数据2_1_2 -->
	<update id="updateSelective2_1_2" parameterType="ScoreEntity" >
		update score set
			score212 = #{score212,jdbcType=VARCHAR},
			update_time21 = #{updateTime21,jdbcType=TIMESTAMP},
			answer212 = #{answer212,jdbcType=VARCHAR},
			update_time = #{updateTime,jdbcType=TIMESTAMP}
		where student_id = #{studentId,jdbcType=BIGINT}
	</update>

	<!-- 添加记录2_1_3 -->
	<insert id="insertSelective2_1_3" parameterType="com.wwhy.entity.ScoreEntity">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into score (
		student_id,
		score213,
		update_time21,
		iscomplete21,
		answer213,
		update_time
		) values(
		#{studentId,jdbcType=BIGINT},
		#{score213,jdbcType=VARCHAR},
		#{updateTime21,jdbcType=TIMESTAMP},
		#{iscomplete21,jdbcType=INTEGER},
		#{answer213,jdbcType=VARCHAR},
		#{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>

	<!-- 根据ID修改数据2_1_3 -->
	<update id="updateSelective2_1_3" parameterType="ScoreEntity" >
		update score set
			score213 = #{score213,jdbcType=VARCHAR},
			update_time21 = #{updateTime21,jdbcType=TIMESTAMP},
			iscomplete21 = #{iscomplete21,jdbcType=INTEGER},
			answer213 = #{answer213,jdbcType=VARCHAR},
			update_time = #{updateTime,jdbcType=TIMESTAMP}
		where student_id = #{studentId,jdbcType=BIGINT}
	</update>

</mapper>